$form:rgb(61,174,168);
form{
	width:90%;
	margin:10px auto;
	border:2px solid white;
	background:$form;
	border:1px solid #000000;
	@include border-radius();
	
	@include box-shadow(black 1px 1px 15px);
	
	ul{
		width:70%;
		
		
		margin:0px;
		padding:0px;
		list-style-type:none;
		margin:0 auto;
		padding:0.8em;
		overflow:hidden;
		
	}
	li{
		padding:0.5em;
		float:left;
		
	}
	
	input,textarea{
		width:17em;
	}
	
	.submit{
		padding:3px;
		width:5em;
	}
	
}

