$form:rgb(61,174,168);
$error:rgb(161,21,23);

form{
	width:60%;
	margin:10px auto;
	border:2px solid white;
	background:$form;
	border:1px solid #000000;
	@include border-radius();
	
	@include box-shadow(black 1px 1px 15px);
	
	label{
		font-size:1.1em;
		color:white;
	}
	
	input,select{
		width:17em;
		height:2em;
	}
	
	textarea{
		width:17em;
		height:5em;
	}
	.submit{
		margin-left:40%;	
		padding:3px;
		width:5em;
	}
	
	span{
		color:$error;
	}
	
	
	
}

