/* line 1, ../sass/_boxSizing.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
}

/* line 11, ../sass/_grid.scss */
.grid, .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 18, ../sass/_grid.scss */
.position, .pull_left1, .pull_right1, .pull_left2, .pull_right2, .pull_left3, .pull_right3, .pull_left4, .pull_right4, .pull_left5, .pull_right5, .pull_left6, .pull_right6, .pull_left7, .pull_right7, .pull_left8, .pull_right8, .pull_left9, .pull_right9, .pull_left10, .pull_right10, .pull_left11, .pull_right11, .pull_left12, .pull_right12 {
  position: relative;
}

/* line 22, ../sass/_grid.scss */
.alpha {
  margin-left: 0px;
}

/* line 26, ../sass/_grid.scss */
.omega {
  margin-right: 0px;
}

/* line 31, ../sass/_grid.scss */
.grid1 {
  width: 60px;
}

/* line 36, ../sass/_grid.scss */
.pull_left1 {
  left: -80px;
}

/* line 41, ../sass/_grid.scss */
.pull_right1 {
  left: 80px;
}

/* line 46, ../sass/_grid.scss */
.suffix1 {
  padding-right: 80px;
}

/* line 51, ../sass/_grid.scss */
.prefix1 {
  padding-left: 80px;
}

/* line 31, ../sass/_grid.scss */
.grid2 {
  width: 140px;
}

/* line 36, ../sass/_grid.scss */
.pull_left2 {
  left: -160px;
}

/* line 41, ../sass/_grid.scss */
.pull_right2 {
  left: 160px;
}

/* line 46, ../sass/_grid.scss */
.suffix2 {
  padding-right: 160px;
}

/* line 51, ../sass/_grid.scss */
.prefix2 {
  padding-left: 160px;
}

/* line 31, ../sass/_grid.scss */
.grid3 {
  width: 220px;
}

/* line 36, ../sass/_grid.scss */
.pull_left3 {
  left: -240px;
}

/* line 41, ../sass/_grid.scss */
.pull_right3 {
  left: 240px;
}

/* line 46, ../sass/_grid.scss */
.suffix3 {
  padding-right: 240px;
}

/* line 51, ../sass/_grid.scss */
.prefix3 {
  padding-left: 240px;
}

/* line 31, ../sass/_grid.scss */
.grid4 {
  width: 300px;
}

/* line 36, ../sass/_grid.scss */
.pull_left4 {
  left: -320px;
}

/* line 41, ../sass/_grid.scss */
.pull_right4 {
  left: 320px;
}

/* line 46, ../sass/_grid.scss */
.suffix4 {
  padding-right: 320px;
}

/* line 51, ../sass/_grid.scss */
.prefix4 {
  padding-left: 320px;
}

/* line 31, ../sass/_grid.scss */
.grid5 {
  width: 380px;
}

/* line 36, ../sass/_grid.scss */
.pull_left5 {
  left: -400px;
}

/* line 41, ../sass/_grid.scss */
.pull_right5 {
  left: 400px;
}

/* line 46, ../sass/_grid.scss */
.suffix5 {
  padding-right: 400px;
}

/* line 51, ../sass/_grid.scss */
.prefix5 {
  padding-left: 400px;
}

/* line 31, ../sass/_grid.scss */
.grid6 {
  width: 460px;
}

/* line 36, ../sass/_grid.scss */
.pull_left6 {
  left: -480px;
}

/* line 41, ../sass/_grid.scss */
.pull_right6 {
  left: 480px;
}

/* line 46, ../sass/_grid.scss */
.suffix6 {
  padding-right: 480px;
}

/* line 51, ../sass/_grid.scss */
.prefix6 {
  padding-left: 480px;
}

/* line 31, ../sass/_grid.scss */
.grid7 {
  width: 540px;
}

/* line 36, ../sass/_grid.scss */
.pull_left7 {
  left: -560px;
}

/* line 41, ../sass/_grid.scss */
.pull_right7 {
  left: 560px;
}

/* line 46, ../sass/_grid.scss */
.suffix7 {
  padding-right: 560px;
}

/* line 51, ../sass/_grid.scss */
.prefix7 {
  padding-left: 560px;
}

/* line 31, ../sass/_grid.scss */
.grid8 {
  width: 620px;
}

/* line 36, ../sass/_grid.scss */
.pull_left8 {
  left: -640px;
}

/* line 41, ../sass/_grid.scss */
.pull_right8 {
  left: 640px;
}

/* line 46, ../sass/_grid.scss */
.suffix8 {
  padding-right: 640px;
}

/* line 51, ../sass/_grid.scss */
.prefix8 {
  padding-left: 640px;
}

/* line 31, ../sass/_grid.scss */
.grid9 {
  width: 700px;
}

/* line 36, ../sass/_grid.scss */
.pull_left9 {
  left: -720px;
}

/* line 41, ../sass/_grid.scss */
.pull_right9 {
  left: 720px;
}

/* line 46, ../sass/_grid.scss */
.suffix9 {
  padding-right: 720px;
}

/* line 51, ../sass/_grid.scss */
.prefix9 {
  padding-left: 720px;
}

/* line 31, ../sass/_grid.scss */
.grid10 {
  width: 780px;
}

/* line 36, ../sass/_grid.scss */
.pull_left10 {
  left: -800px;
}

/* line 41, ../sass/_grid.scss */
.pull_right10 {
  left: 800px;
}

/* line 46, ../sass/_grid.scss */
.suffix10 {
  padding-right: 800px;
}

/* line 51, ../sass/_grid.scss */
.prefix10 {
  padding-left: 800px;
}

/* line 31, ../sass/_grid.scss */
.grid11 {
  width: 860px;
}

/* line 36, ../sass/_grid.scss */
.pull_left11 {
  left: -880px;
}

/* line 41, ../sass/_grid.scss */
.pull_right11 {
  left: 880px;
}

/* line 46, ../sass/_grid.scss */
.suffix11 {
  padding-right: 880px;
}

/* line 51, ../sass/_grid.scss */
.prefix11 {
  padding-left: 880px;
}

/* line 31, ../sass/_grid.scss */
.grid12 {
  width: 940px;
}

/* line 36, ../sass/_grid.scss */
.pull_left12 {
  left: -960px;
}

/* line 41, ../sass/_grid.scss */
.pull_right12 {
  left: 960px;
}

/* line 46, ../sass/_grid.scss */
.suffix12 {
  padding-right: 960px;
}

/* line 51, ../sass/_grid.scss */
.prefix12 {
  padding-left: 960px;
}

/* line 4, ../sass/_inventoryTable.scss */
.inventory {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 1px 1px 15px;
  -moz-box-shadow: black 1px 1px 15px;
  box-shadow: black 1px 1px 15px;
}
/* line 13, ../sass/_inventoryTable.scss */
.inventory td {
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}
/* line 20, ../sass/_inventoryTable.scss */
.inventory tr:nth-child(even) {
  background-color: #e7e99e;
}
/* line 24, ../sass/_inventoryTable.scss */
.inventory tr:nth-child(even) {
  background-color: #f0ffe0;
}
/* line 29, ../sass/_inventoryTable.scss */
.inventory th {
  background-color: #3daea8;
  color: white;
  padding: 0.8em;
  font-size: 1.2em;
}

/* line 1, ../sass/_font.scss */
h1, h2, h3, h4, h5 {
  text-align: center;
}

/* line 2, ../sass/_form.scss */
form {
  width: 90%;
  margin: 10px auto;
  border: 2px solid white;
  background: #3daea8;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 1px 1px 15px;
  -moz-box-shadow: black 1px 1px 15px;
  box-shadow: black 1px 1px 15px;
}
/* line 12, ../sass/_form.scss */
form ul {
  width: 70%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0.8em;
  overflow: hidden;
}
/* line 24, ../sass/_form.scss */
form li {
  padding: 0.5em;
  float: left;
}
/* line 30, ../sass/_form.scss */
form input, form textarea {
  width: 17em;
}
/* line 34, ../sass/_form.scss */
form .submit {
  padding: 3px;
  width: 5em;
}
